<form action="#">
  <mat-form-field hintLabel="Max 15 characters" class="field-full-width">
    <input matInput #name maxlength="15" placeholder="Enter your Name" required>
    <mat-hint align="end">{{name.value?.length || 0}}/15</mat-hint>
  </mat-form-field>
  <mat-form-field hintLabel="Max 15 characters" class="field-full-width">
    <input matInput #surname maxlength="15" placeholder="Enter your Surname" required>
    <mat-hint align="end">{{surname.value?.length || 0}}/15</mat-hint>
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="field-full-width" hintLabel="Min 3 characters">
    <input matInput #password minlength="3" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
    <mat-hint align="end">{{password.value?.length || 0}}/3</mat-hint>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button mat-button>Submit</button>
  <mat-list role="list">
    <mat-list-item role="listitem"><a href="/forget-pass">Forget password</a></mat-list-item>
    <mat-list-item role="listitem"><a href="/registration">Registration</a></mat-list-item>
  </mat-list>
</form>
